.foxit-pdf-viewer-container {
    // display: block;
    margin: 0 auto;
    // width: 100vw;
    // height: 100vh;
    width: 100% !important;
    height: 100% !important;
  }
  .foxit-pdf-viewer-app {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
  }