// New UI/UX suggetions
nav {
    // box-shadow: 0px 5px 5px -3px #0000001a, 0px 8px 10px 1px #00000033, 0px 3px 14px 2px #00000000!important;
    // box-shadow: 0px 6px 5px -3px #0000001a, 0px 8px 20px 1px #0000001a, 0px 0px 4px 2px #0000001a !important;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    z-index: 9;
  }
  
  .flex-end {
    justify-content: flex-end;
  }
  
  .navbar {
    padding: 10px 20px;
  
    .navbar-brand {
      padding: 0;
      margin: 0;
  
      .app-menu {
        height: 35px;
      }
  
      .app-menu:hover {
        cursor: pointer;
      }
  
      .app-logo {
        margin: 0 0 0 25px;
        // height: 35px;
        height: 40px;
      }
    }
  
    .navbar-brand.logo-text {
      margin: 0 0 0 20px;
      font-weight: 600;
      color: #434760;
    }
  
    .navbar-nav {
      width: 100% !important;
  
      .user-dropdown {
        display: flex;
        justify-content: flex-end;
  
        .dropdown {
          .nav-link {
            color: #000000;
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin: 0;
            font-size: 12px;
  
            .profile-icon {
              padding: 0 8px 0 0;
  
              .pi-logo {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: #e37908;
                color: #ffffff;
                font-size: 20px;
              }
            }
  
            .profile-label {
              color: #666666 !important;
              padding: 0 6px 0 0;
            }
  
            .profile-name {
              padding: 0 5px 0 0;
              font-weight: 400;
            }
          }
  
          .dropdown-toggle::after {
            // display: inline-block;
            // margin-left: 0.255em;
            // vertical-align: 0.255em;
            // content: "";
            border-top: 0.4em solid;
            border-right: 0.4em solid transparent;
            border-bottom: 0;
            border-left: 0.4em solid transparent;
            color: #666666;
          }
  
          // .dropdown-menu {
          //   position: absolute !important;
          //   right: 0 !important;
          //   left: unset !important;
          //   top: 42px;
          //   border-radius: 10px;
          // }
  
          .profile-card {
            // display: flex;
            // flex-direction: column;
            pointer-events: none;
            position: absolute !important;
            // right: 0 !important;
            // left: unset !important;
            top: 40px;
            border-radius: 10px;
            border: none !important;
            // box-shadow: 0px 6px 5px -3px rgba(0, 0, 0, 0.1019607843), 0px 8px 20px 1px rgba(0, 0, 0, 0.1019607843), 0px 0px 4px 2px rgba(0, 0, 0, 0.1019607843) !important;
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            font-size: 14px;
            // .menu-item-divider {
            //   height: 1px;
            //   background: #dcdcdcc6;
            //   margin: 0 20px;
            //   padding: 2px;
            // }
            // .dp-pointer {
            //   width: 30px;
            //   height: 30px;
            //   position: absolute;
            //   box-shadow: 0px 6px 5px -3px rgba(0, 0, 0, 0.1019607843), 0px 8px 20px 1px rgba(0, 0, 0, 0.1019607843), 0px 0px 4px 2px rgba(0, 0, 0, 0.1019607843) !important;
            //   right: 18px;
            //   top: -12px;
            //   transform: rotate(45deg);
            //   background: #fff;
            // }
            // .dp-pointer::after {
            //   content: "";
            //   position: absolute;
            //   top: 100%;
            //   left: 50%;
            //   margin-left: -5px;
            //   border-width: 5px;
            //   border-style: solid;
            //   border-color: #555 transparent transparent transparent;
            // }
  
            .profile-item {
              display: inline-flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 12px;
  
              .profile-item-icon {
                padding: 0 5px 0 0;
              }
  
              .profile-key {
                // width: 120px;
                font-weight: 500;
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
              }
  
              .profile-divider {
                padding: 0 5px;
              }
  
              .profile-value {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                font-weight: 600;
                // align-items: center;
              }
            }
  
            .profile-item.roles-wrap {
              display: flex;
              // flex-direction: column;
              align-items: flex-start;
  
              .profile-key {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
              }
  
              .profile-value {
                // margin: 0 0 0 5px;
                margin: 0;
                // flex-direction: row;
  
                .okta-roles {
                  display: flex;
                  flex-wrap: wrap;
                  margin: 0 0 5px 5px;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: center;
  
                  .profile-value-item {
                    padding: 5px;
                    border-radius: 5px;
                    background: #c5ccff4a;
                    // // background: #e3e2e2c9;
                    // // margin: 0 0 5px 0;
                    // width: fit-content;
                    // // margin: 0 5px 0 0;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .navbar-nav .nav-item.active .nav-link,
  .navbar-nav .nav-item:hover .nav-link {
    background: rgba(#ffffff, 0.13);
  }
  
  .app-body {
    // height: calc(100vh - 55px);
    height: calc(100vh - 60px);
  
    .ln-drawer {
      // box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 30%), 0px 8px 10px 1px rgb(0 0 0 / 20%), 0px 3px 14px 2px rgb(0 0 0 / 0%);
      // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      border: none !important;
  
      .nav-alignment {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
  
        .ln-btn-toggle {
          font-size: 30px;
        }
  
      }
    }
  
    .drawer-collapse {
      width: 80px !important;
      // width: 70px !important;
      transition: width 500ms;
      z-index: 2 !important;
  
      // .toggle-container {
      //   display: none !important;
      // }
    }
  
    .ln-hide-icons:hover {
      // width: 255px !important;
      // width: 285px !important;
      // width: 275px !important;
      width: 220px !important;
      transition: width 500ms;
      z-index: 2 !important;
  
      // .toggle-container {
      //   display: block !important;
      // }
    }
  
    .drawer-expand {
      // width: 285px !important;
      // width: 275px !important;
      width: 200px !important;
      transition: width 500ms;
      z-index: 2 !important;
    }
  
    ////////////////////////////
    /// Drawer Content 
    ////////////////////////////
    .drawer-content-collapse {
      margin-left: 80px !important;
      // margin-left: 70px !important;
      transition: width 500ms !important;
      z-index: 1 !important;
    }
  
    .drawer-content-expand {
      // margin-left: 255px !important;
      // margin-left: 285px !important;
      // margin-left: 275px !important;
      margin-left: 200px !important;
      transition: width 500ms !important;
      z-index: 1 !important;
  
      // .toggle-container {
      //   display: none !important;
      // }
    }
  
    #id-ro-container {
      overflow: hidden !important;
      padding: 0px !important;
  
      .ro-wrap {
        margin: 0 !important;
        // padding: 20px !important;
        padding: 0px !important;
        overflow: hidden !important;
        // background: #F6F6F6 !important;
        background: #F7F8FA !important;
        height: 100% !important;
      }
    }
  }
  
  // .toggle-container {
  //   position: absolute;
  //   top: -5px;
  //   right: 4px;
  //   cursor: pointer;
  //   z-index: 2;
  // }